* {
  box-sizing: border-box;
}

/* Style the counter cards */
.card {
  
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  float: left;
  width: 25%;
  padding: 0 10px;
  text-decoration-color: aqua;
}